* {
  font-family: roboto;
}

.bg-container {
  background-color: #f1f5f8;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.inner-container {
  background-color: #ffffff;
  width: 50%;
  padding: 30px;
}

.heading {
  color: #cb8805;
  text-align: center;
}

.unOrder {
  list-style-type: none;
  padding: 40px;
}
